<!DOCTYPE html>
<html ng-app= "eventsApp">
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
  </head>
  <body>
    <div ng-controller= "eventsController">
    <h2>There are {{events.length}} events</h2>
    <ul>
      <li ng-repeat="event in events">{event.name}}</li>
    </ul>

    <form  ng-submit="addEvent()">
      <input ng-model="eventName">
      <button type="submit">Add</button>
    </form>
  </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.js"></script>
    <script type="text/javascript" src="/ngApp/app.js"></script>
    <script type="text/javascript" src="/ngApp/controllers/meetups-controller.js"></script>

  </body>
</html>
